/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
    --white-color:                  #F2F2F2;
    --primary-color:                #02403A;
    --section-bg-color:             #F9F9F9;
    --dark-color:                   #000000;
    --title-color:                  #165953;
    --p-color:                      #717275;
    --border-color:                 #86A6A3;
  
    --body-font-family:             'Open Sans', sans-serif;
  
    --h1-font-size:                 48px;
    --h2-font-size:                 36px;
    --h3-font-size:                 32px;
    --h4-font-size:                 28px;
    --h5-font-size:                 24px;
    --h6-font-size:                 22px;
    --p-font-size:                  18px;
    --menu-font-size:               16px;
  
    --font-weight-light:            300;
    --font-weight-normal:           400;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
  }
  
  body {
      background: var(--white-color);
      font-family: var(--body-font-family);    
      position: relative;
  }

  *{
    margin: 0;
  }
  
  /*---------------------------------------
    TIPOGRAFIA          
  -----------------------------------------*/
  
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--dark-color);
    line-height: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: var(--font-weight-semibold);
  }
  
  h1,
  h2 {
    font-weight: var(--font-weight-bold);
  }
  
  h1 {
    font-size: var(--h1-font-size);
    line-height: normal;
  }
  
  h2 {
    font-size: var(--h2-font-size);
  }
  
  h3 {
    font-size: var(--h3-font-size);
  }
  
  h4 {
    font-size: var(--h4-font-size);
  }
  
  h5 {
    font-size: var(--h5-font-size);
  }
  
  h6 {
    font-size: var(--h6-font-size);
  }
  
  p {
    color: var(--p-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.5px;
  }
  
  a, 
  button {
    touch-action: manipulation;
    transition: all 0.3s;
  }
  
  a {
    color: var(--p-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--primary-color);
  }
  
  .section-padding {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }


/*DASHBOARD*/
.contenedor-imagen-dash{
    margin-bottom: 10px;
}

.imagen-dashboard{
    max-width: 100%;
    max-height: 100%;
}


.dashboard{
    display: grid;
    grid-template-columns: 20% 80%;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.contenido-sidebar{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100%; /* Añadimos altura del 100% al elemento padre para asegurarnos de que .dash-bajo se ajuste correctamente */
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
   
}

.enlace-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: .5px solid  var(--white-color);
}



.enlace-sidebar:hover{
    background-color: var(--title-color);
}

.enlace-sidebar a{
    color: var(--white-color);
    padding: 20px;
}

.dash-bajo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-start;
    padding: 20px;
    border-top: 1px solid var(--white-color);
}


.contenido-principal{
  display: flex;
  justify-content: center;
}

.sesion{
  background-color: var(--title-color);
  border-radius: 5px;
  color: var(--white-color);
  font-weight: 400;
  font-size: 8px;
  margin-bottom: 50px;
}