.body-citas{
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
}


.citas .container-citas {
  max-width: 600px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
}

.form-citas{
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 20px;
}

.citas .form-title h2 {
  color: #02403A;
  text-align: center;
  margin-bottom: 20px;
}

.citas label {
  font-weight: bold;
}

.citas input[type="text"],
.citas input[type="tel"],
.citas input[type="date"],
.citas select {
  border: none;
  border-bottom: 1px solid rgb(4, 54, 4);
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.citas .boton {
  background-color: #02403A;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.citas .boton:hover {
  background-color: #165953;
}

.citas .form-group {
  margin-bottom: 20px;
}

.citas .image img {
  max-width: 100%;
  height: auto;
}

.botones{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}