
/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #F2F2F2;
  --primary-color:                #02403A;
  --section-bg-color:             #F9F9F9;
  --dark-color:                   #000000;
  --title-color:                  #165953;
  --p-color:                      #717275;
  --border-color:                 #86A6A3;

  --body-font-family:             'Open Sans', sans-serif;

  --h1-font-size:                 48px;
  --h2-font-size:                 36px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               16px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
    padding-top: 94px;
}

/*---------------------------------------
  TIPOGRAFIA          
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
  line-height: normal;
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.5px;
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  color: var(--p-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.section-padding {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

/*---------------------------------------
  CUSTOM LINK               
-----------------------------------------*/
.custom-link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  pointer-events: auto;
  font-weight: var(--font-weight-semibold);
  line-height: 40px;
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  border-radius: 0;
  text-transform: uppercase;
}

.custom-link::before {
  content: attr(data-hover);
  background-color: var(--border-color);
  color: var(--primary-color);
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
  right: 0;
  text-align: center;
}

.custom-link:hover::before {
  top: 0;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  LIST GROUP               
-----------------------------------------*/
.list-group-item {
  background-color: transparent;
  color: var(--p-color);
  font-size: var(--p-font-size);
  padding: 1rem 0;
}

.list-group-item:first-child {
  padding-top: 0;
}

.list-group-item span {
  font-weight: var(--font-weight-semibold);
  margin-left: auto;
}

/*---------------------------------------
  ANIMATED TEXT              
-----------------------------------------*/
.animated {
  position: relative;
}

.animated-info {
  display: inline-flex;
  vertical-align:text-top;
  min-width: 250px;
  position: relative;
}

.animated-item {
  color:#165953;
}

.animated-item {
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*---------------------------------------
  HERO              
-----------------------------------------*/
.hero {  
  padding-top: 0rem;
}

.hero .container {
  position: relative;
  overflow: hidden;
  height: 580px;
}

.heroText {
  background: var(--white-color);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  padding: 1.5rem 2.5rem;
  width: 50%;
}

.contact-phone {
  font-weight: var(--font-weight-semibold);
}

/*---------------------------------------
  FEATURED              
-----------------------------------------*/
.featured-circle {
  border-radius: 100%;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  padding: 0 20px;
}

.featured-text {
  font-size: var(--h6-font-size);
  line-height: 2rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin-bottom: 0;
}

.featured-number {
  color: var(--primary-color);
  font-size: 8rem;
  margin: 0 10px;
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/


.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
  margin: 0 30px;
  padding: 0;
  text-align: center;
}

.navbar-brand strong {
  color: var(--p-color);
  font-size: 12px;
  position: relative;
  bottom: 5px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-nav .nav-link {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
  font-size: var(--menu-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-item.active .nav-link, 
.nav-link:focus, 
.nav-link:hover {
  color: var(--dark-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}
/*---------------------------------------
  SERVICIOS       
-----------------------------------------*/
#services {
  margin-top: 20px;
}

.service {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  width: 250px;
}

.service img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
}

.service h3 {
  margin: 0;
  font-size: 18px;
}

.service p {
  margin: 0;
  font-size: 14px;
}

/*---------------------------------------
  FOOTER              
-----------------------------------------*/
.site-footer {
  background: var(--section-bg-color);
}

.copyright-text {
  font-size: var(--menu-font-size);
}

/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s;
}

.social-icon:hover li:not(:hover) {
  opacity: 0.65;
}

.social-icon-link {
  font-size: var(--p-font-size);
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 15px;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (min-width: 1600px) {
  .hero .container {
    height: 740px;
  }
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 74px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .hero .container {
    height: inherit;
  }

  .heroText {
    position: relative;
    bottom: 100px;
    left: 0;
    width: auto;
    margin-bottom: -100px;
    padding: 2rem;
  }

  .featured-circle {
    width: 320px;
    height: 320px;
  }
}


@media screen and (max-width: 480px) {
  .heroText {
    padding: 1rem;
  }

  .heroLinks .custom-link {
    font-size: 12px;
    line-height: 30px;
    margin-right: 12px !important;
    padding: 0 25px;
  }

  .contact-phone {
    font-size: 12px;
  }
}

/*LOGIN*/
.body-login{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
}

@media(min-width:768px){
  .body-login{
    padding-top: 50px;
  }
}

.contenedor-login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  width: 80%;
}

@media(min-width:768px){
  .login{
    width: 40%;
  }
}

.titulo{
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  margin-bottom: 40px;
}

@media(min-width:768px){
  .titulo{
    column-gap: 20px;
  }
}

.titulo__icono{
  font-size: 30px;
  margin: 0px;
  color: var(--title-color);
}

@media(min-width:768px){
  .titulo__icono{
    font-size: 40px;
  }
}

.color__titulo{
  color: var(--title-color);
  text-align: center;
  font-size: 35px;
  font-family: var(--body-font-family);
  font-weight: 100;
  margin-left: 10px;
}


@media(min-width:768px){
  .color__titulo{
    color: var(--title-color);
    text-align: center;
    font-size: 50px;
    font-family: var(--body-font-family);
    font-weight: 100;
    margin-left: 0px;
  }
}


.login__texto{
  color: var(--p-color);
}

.login__boton{
  border-radius: 40px;
  padding: 10px 100px;
  border: none;
  background-color: var(--primary-color);
  color: var(--section-bg-color);
  margin-top: 30px;
}

@media(min-width:768px){
  .login__boton{
    font-weight:300;
    font-size: 20px;
    width: 100%;
  }
}

.login__boton:hover{
  background-color: var(--primary-color);
}

/*REGISTRO*/
.body-registro{
  max-width: 1200px;
  width: 95%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  padding-top: 0px;
}

.contenedor-registro{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}


.registro-form{
  background: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid var(--border-color);
  color: #6c757d;
  font-weight: var(--font-weight-normal);
  padding-top: 20px;
  padding-bottom: 50px;
  margin-top: 50px;
  transition: all 0.3s;
}

.contenedor_titulo_registro{
  display: grid;
  grid-template-columns: 5% 95%;
  align-items: center;
  margin-bottom: 20px;
}

.registro__titulo{
  color: var(--title-color);
  text-align: center;
  font-size: 40px;
  font-family: var(--body-font-family);
  font-weight: 100;
}

.registro__icono{
  font-size: 25px;
  color: var(--title-color);
}

.registro__texto{
  color: var(--p-color);
}

.registro_campo{
  background-color: transparent;
  border-color: var(--border-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.registro__boton{
  border-radius: 40px;
  padding: 10px 100px;
  border: none;
  background-color: var(--primary-color);
  color: var(--section-bg-color);
}

.registro__boton:hover{
  background-color: var(--primary-color);
}

.imagen-registro{
  width: 100%;
}


.imagen-registro img{
  width: 100%;
  height: 100%;
}

/* DropDown de usuario*/

.btn:hover{
  background-color: var(--primary-color);
}

.ingresar-login-register{
  font-family: var(--body-font-family);
  background-color: var(--primary-color);
  border-radius: 5px;
  font-size: 15px;
  margin-top: 9px;
}

.ingresar{
  font-family: var(--body-font-family);
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
}

.desplegar{
  background-color: var(--title-color);
  padding: 4px 0;
  width: 80px !important;
}


.desplegar__letra{
  font-size: 13px;
  font-family: var(--body-font-family);
  font-weight: lighter;
}

.contenedor__texto{
  display: flex;
  justify-content: center;
  border-top: .5 solid var(--white-color);
  width: 65%;
}


.mensaje{
  font-size: 10px;
  background-color: var(--border-color);
  color: var(--white-color);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family:  var(--body-font-family);
}



