:root {
	--white-color:                  #F2F2F2;
	--primary-color:                #02403A;
	--section-bg-color:             #F9F9F9;
	--dark-color:                   #000000;
	--title-color:                  #165953;
	--p-color:                      #717275;
	--border-color:                 #86A6A3;
  
	--body-font-family:             'Open Sans', sans-serif;
  
	--h1-font-size:                 48px;
	--h2-font-size:                 36px;
	--h3-font-size:                 32px;
	--h4-font-size:                 28px;
	--h5-font-size:                 24px;
	--h6-font-size:                 22px;
	--p-font-size:                  18px;
	--menu-font-size:               16px;
  
	--font-weight-light:            300;
	--font-weight-normal:           400;
	--font-weight-semibold:         600;
	--font-weight-bold:             700;
  }
  
/* Card */

.cards-wrapper{
	display: flex;
}

.card{
	margin: 0 .9em;
	width: calc(100%/3);
}

.image-wrapper{
	height: 16vw;
	display: flex;
	justify-content: center;
}

.image-wrapper img {
	max-width: 100%;
	max-height: 100%;
}




/* Button */

.btn-trabajos {
	appearance: none;
	background-color: var(--title-color);
	border-radius: 6px;
	color: var(--white-color);
	cursor: pointer;
	text-align: center;
	font-weight: 400;
	padding: 10px 150px;
	font-family: var(--body-font-family);
	border: none;
}

.btn-trabajos:hover{
	background-color: var(--border-color);
	color: var(--white-color);
}


/* Banner */

#banner {
	background-color: #02403A;
	color: #fff;
	padding: 10em 0 9em 0;
	text-align: center;
}



#banner h2 {
	font-size: 3.5em;
	line-height: 1em;
	margin: 0 0 0.5em 0;
	padding: 0;
	color: white;
}




/* Main */

#job_main {
	padding: 6em 0;
}

body.landing #job_main {
	margin-top: -10em;
}


/* Descripcion */
.container_recep {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	max-width: 1200px;
	width: 95%;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	padding-top: 0px;
	margin-top: 50px;
  }

  
  .imagen-recep img {
	max-width: 100%;
    height: auto;
  }
  
  .container_titulod {
	display: grid;
	grid-template-columns: 5% 95%;
	align-items: center;
	
  }
  
  .titulod {
	margin-bottom: 50px;
	margin-top: -40px;
	font-size: 40px;
	font-weight: 100;
  }

  .td{

	font-weight: 100;
  }

  
  
  /* Estilos para pantallas más pequeñas */
  @media only screen and (max-width: 768px) {
	.container_recep {
	  grid-template-columns: 1fr;
	}
  
	.imagen-recep {
	  text-align: center;
	  margin-bottom: 30px;
	}
  
	.container_titulod {
	  grid-template-columns: 1fr;
	  text-align: center;
	}
  
	.titulod {
	  margin-bottom: 30px;
	  margin-top: 0;
	}
  

	ul{
		margin-bottom: 20px;
	}
  }

  /* Estilos para pantallas medianas */
@media only screen and (max-width: 1000px) {
	.container_recep {
	  grid-template-columns: 1fr;
	}
  
	.container_titulod {
	  grid-template-columns: 1fr;
	  text-align: center;
	}
  
	.titulod {
	  margin-bottom: 30px;
	  margin-top: 0;
	}
  }